.container {
  margin-top: 30px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.col-md-4 {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

@media screen and (max-width: 800px) {
  .col-md-4 {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .col-md-4 {
    flex: 100%;
    max-width: 100%;
  }
}
